.home {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 300px));
  grid-template-rows: 100px 100px;
  grid-gap: 15px;
  justify-content: center;
  padding: 100px;
  
}
.item {
  background-color: white;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  padding: 30px 0;
  text-decoration: none;
  color: black;
  
}
.count {
  font-size : 20px;
  color: #616169;
}
